.jumbotron1{
    background-image: url("/img/jumbotron.jpg");
    background-size: cover;
}

.jumbotron1 .display-4{
    line-height: 300px;
    color: white;
    font-size: 20px;
    margin-top: 150px;
    text-align: center;
    font-weight: 200;
}

.jumbotron1 .display-4 span{
    font-weight: 500;
}

@media (min-width: 992px) { 
    
    .jumbotron1{
        margin-top: -70px;
        height: 640px;
    }

    .jumbotron1 .display-4{
        font-size: 50px;
    }

 }